
<style>
    .fp {
        font-size: 18px;
    }
</style>
<div style="background-color:#cfe2ff;" >
    <div class="row">
        <div style="margin:30px;">
            <p class="fp"> 286 การกีฬาแห่งประเทศไทย ถนนรามคำแหง แขวงหัวหมาก เขตบางกะปิ กรุงทพมหานคร 10240</p>
            <p class="fp"> 286 Ramkhamheang road, Bangkapi, Bangkok, Thailand. 10240</p>
            <p class="fp"> Tel. +66 2 170 9474 Fax +66 2 170 9475</p>
            <p class="fp"> email : ttat_org@yahoo.com</p>
        </div>
    </div>       
</div>

