
@{
    ViewBag.Title = "เกิดข้อผิดพลาด";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>เกิดข้อผิดพลาด</h2>
<hr class="colorgraph">
<h1 class="text-danger">@ViewBag.ErrorMessage</h1>
<hr class="colorgraph">

